[Unit]
Description=PHP FPM pool %u

[Service]
Type=notify
RuntimeDirectory=php
ExecStart=%h/.bin/php-fpm --nodaemonize --pid ${RUNTIME_DIRECTORY}/fpm.pid --prefix %h --fpm-config %h/.config/php/fpm.conf -c %h/.config/php/fpm.ini
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
WorkingDirectory=%h

[Install]
WantedBy=default.target
